@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: solid 1px RGB(0,0,0,0.2);
    position: sticky;
    background-color: white;
    z-index: 999;
    top: 0;
}

.menu {
    display: flex;
    width: 20%;
    margin-right: 3%;
}

.nav-item {
    padding: 8% 5%;
}

nav a:hover {
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: black;
}


.heroimage {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5%;
}

.content {
    display: flex;
}

.text {
    width: 540px;
    padding: 4%;
    background-color: #FFEBCD;
    align-items: center;
    font-size: 15px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 50px;
}

.icons {
    display: flex;
    flex-direction: row;
}

.icons img {
    padding: 10px;
    margin-top: 10px;
}


