@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top:3%;
    margin-left: 15%;
    margin-right:15%;
}


.title {
    font-size: 20px;
    font-weight: 500;
}

.menu {
    display: flex;
    flex-direction: row;
}

.nav-item {
    display: flex;
    margin-right: 30px;
}

nav a:hover {
    font-weight: 600;
}

nav a {
    text-decoration: none;
    color: black;
}

.tagline {
    display:flex;
    margin-left: 15%;
    margin-top: 8px;
    color: #949494
}

.horizontal-line {
    height: 1px;
    background-color: #525252; 
    margin-left: 15%;
    margin-right: 15%;
}

.recent-work {
    font-size: 28px;
    margin-left: 15%;
    margin-top: 3%;
    color:#403A50
}

.work {
    display: flex;
    flex-direction: column;
}


.travelbuddy {
    height: 420px;
    background-color: #FFFBF0;
    color: #403A50;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top:1%;
    transition: all 0.3s ease;
}

.travelbuddy:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.travelbuddy-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.img-container {
    display: flex;
    justify-content: center;
}

.travelbuddy-text {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.travelbuddy-title {
    font-size: 32px; 
    font-weight: 600;
    margin-bottom: 15px;
}

.travelbuddy-text2 {
    font-size:20px;
}



.nurture {
    height: 400px;
    background-color: #EBF2E4;
    color: #403A50;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top:3%;
    transition: all 0.3s ease;
}

.nurture:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.nurture-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
}

.nurture-text {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.nurture-title {
    font-size: 32px; 
    font-weight: 600;
    margin-bottom: 15px;
}

.nurture-text2 {
    font-size:20px;
}


.abc {
    height: 400px;
    background-color: #E3E5EC;
    color: #403A50;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top:3%;
    transition: all 0.3s ease;
}

.abc:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.abc-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.abc-text {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.abc-title {
    font-size: 32px; 
    font-weight: 600;
    margin-bottom: 15px;
}

.abc-text2 {
    font-size:20px;
}


footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 50px;
}

.icons {
    display: flex;
    flex-direction: row;
}

.icons img {
    padding: 10px;
    margin-top: 10px;
}

@media only screen and (max-width: 600px) {

nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top:3%;
    margin-left: 5%;
    margin-right:5%;
}


.title {
    font-size: 16px;
    font-weight: 500;
}

.menu {
    display: flex;
    flex-direction: row;
}

.menu img {
    height: 20px;
}

.nav-item {
    display: flex;
    margin-right: 20px;
    font-size: 14px;
}

nav a:hover {
    font-weight: 600;
}

nav a {
    text-decoration: none;
    color: black;
}

.tagline {
    display:flex;
    margin-left: 5%;
    font-size: 14px;
    margin-top: 8px;
    color: #949494
}

.horizontal-line {
    height: 1px;
    background-color: #525252; 
    margin-left: 5%;
    margin-right: 5%;
}

.recent-work {
    font-size: 20px;
    margin-left: 5%;
    margin-top: 10%;
    color:#403A50
}

.work {
    display: flex;
    flex-direction: column;
}


.travelbuddy {
    height: 600px;
    background-color: #FFFBF0;
    color: #403A50;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top:5%;
    transition: all 0.3s ease;
}

.travelbuddy:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.travelbuddy-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.fictionate-img-container img {
    height: 200px;
}

.img-container {
    display: flex;
    justify-content: center;
}

.img-container img {
    height: 300px;
}

.travelbuddy-text {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-top:10%;
}

.travelbuddy-title {
    font-size: 24px;
}

.travelbuddy-text2 {
    font-size: 16px;
}



.nurture {
    height: 600px;
    background-color: #EBF2E4;
    color: #403A50;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top:5%;
    transition: all 0.3s ease;
}

.nurture:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.nurture-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.nurture-text {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-top:10%;
}

.nurture-title {
    font-size: 24px;
}

.nurture-text2 {
    font-size: 16px;
}



.abc {
    height: 600px;
    background-color: #E3E5EC;
    color: #403A50;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top:5%;
    transition: all 0.3s ease;
}

.abc:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.abc-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.abc-text {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.abc-title {
    font-size: 24px;
}

.abc-text2 {
    font-size: 16px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 50px;
}

.icons {
    display: flex;
    flex-direction: row;
}

.icons img {
    padding: 10px;
    margin-top: 10px;
}
}