@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: solid 1px RGB(0,0,0,0.2);
    position: sticky;
    background-color: white;
    z-index: 999;
    top: 0;
}

.menu {
    display: flex;
    width: 20%;
    margin-right: 3%;
}

.nav-item {
    padding: 8% 5%;
}

nav a:hover {
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: black;
}

.intro {
    height: calc(90vh);
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-container {
    display: flex;
    width: 70%;
    justify-content: space-around;
    align-items: center;
}

.line2b {
    display: flex;
    align-items: center;
}

.circle {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
}




.line1 {
    font-weight: 600;
    display: inline-block;
    font-size: 40px;
}

.line2 {
    margin-top: 10px;
    font-size: 24px;
}

.line1:hover {
    color: #2E7AFF;
}


.text div {
    padding-top: 5px;
    padding-bottom: 5px;
}

.down {
    transition: all 0.5s ease;
}

.down:hover {
    transform: translate(0px,8px);

}

.travelbuddy {
    height: 600px;
    background-color: #87AEF7;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.travelbuddy-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
}

.img-container {
    display: flex;
    width: 439px;
    justify-content: center;
}

.travelbuddy-text {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.tb-button {
    padding: 20px 30px;
    border: solid 2px white;
    border-radius: 50px;
    background-color: RGB(0,0,0,0);
    color: white;
    font-size: 20px;
    margin-top: 10px;
}

.travelbuddy button:hover {
    color: #87AEF7;
    background-color: white;
}


.nurture {
    height: 600px;
    background-color: #FFFCF4;
    color: #403A50;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nurture-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
}

.nurture-text {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.nurture button {
    padding: 20px 30px;
    border-radius: 50px;
    border: solid 2px #403A50;
    background-color: RGB(0,0,0,0);
    color: #403A50;
    font-size: 20px;
    margin-top: 10px;
}

.nurture button:hover {
    color: #FFFCF4;
    background-color: #403A50;
}

.abc {
    height: 600px;
    background-color: #434C5F;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.abc-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
}

.abc-text {
    display: flex;
    flex-direction: column;
    width: 50%;
}


.abc button {
    padding: 20px 30px;
    border-radius: 50px;
    border: solid 2px white;
    background-color: RGB(0,0,0,0);
    color: white;
    font-size: 20px;
    margin-top: 10px;
}

.abc button:hover {
    color: #434C5F;
    background-color: white;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 50px;
}

.icons {
    display: flex;
    flex-direction: row;
}

.icons img {
    padding: 10px;
    margin-top: 10px;
}

@media only screen and (max-width: 600px) {

nav {
    justify-content: center;
}

.menu {
    width: 100%;
    justify-content: center;
}

.nav-item {
    padding: 5%;
}

h2 {
    font-size: 26px;
}

.intro-container {
    flex-direction: column;
    justify-content: center;
    height: 600px;
}

.img img {
    height:200px;
    width: 200px;
}

.text {
    margin-top: 2%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.line1 {
    font-size: 30px;
}

.line2 {
    font-size: 16px;
}

.travelbuddy, .nurture, .abc {
    height: 800px;
}

.travelbuddy-container, .nurture-container, .abc-container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;   
}

.img-container {
    width: 148px;
}
.img-container img {
    height: 340px;
}

.travelbuddy-text, .abc-text, .nurture-text {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.abc-container img {
    height: 220px;
}
}