@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top:3%;
    margin-left: 15%;
    margin-right:15%;
}


.title {
    font-size: 20px;
    font-weight: 500;
}

.menu {
    display: flex;
    flex-direction: row;
}

.nav-item {
    display: flex;
    margin-right: 30px;
}

nav a:hover {
    font-weight: 600;
}

nav a {
    text-decoration: none;
    color: black;
}

.tagline {
    display:flex;
    margin-left: 15%;
    margin-top: 8px;
    color: #949494
}

.horizontal-line {
    height: 1px;
    margin-top: 5px;
    background-color: #525252; 
    margin-left: 15%;
    margin-right: 15%;
}

.nurture-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
}

#line1 {
    font-size: 48px;
    font-weight: bold;
    padding: 5px;
    color:#014003;
}

#line2 {
    font-size: 24px;
    font-weight:200;
    padding: 5px;
}

.nurture-img {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin-top: 3%;
    margin-bottom: 2%;
}

.nurture-intro img {
    width: 90%;
}

.intro-button {
    margin-top: 2%;
    border-radius: 30px;
    color: #014003;
    border: solid 2px #014003;
    font-size: 24px;
    padding: 10px 20px;
    background-color: white;
}

.intro-button:hover {
    background-color: #014003;
    color: white;
}

.summary {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 380px;
    background-color: #FFFBF0;
    color:#403A50;
    margin: 0 auto;
    margin-top: 3%;
}

.row1  {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: center;
    align-items: center;
}

.problem-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 2%;
    text-align: center;
}

.problem-text {
    text-align: center;
}

.row2 {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-between;
    align-items: flex-start;
}

#problem, #solution {
    margin: 3% 2%;
}

#myrole, #timeline, #ip {
    margin: 3% 2%;
}

#group-project, #my-role, #time-line {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 2%;
}

.hypothesis {
    display: flex;
    flex-direction: column;
    width:70%;
    margin: 0 auto;
    margin-top: 5%;
}

.hypothesis-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 1%;
}


.interviews {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 0 auto;
    margin-top: 5%;
    justify-content: space-between;
}


.interview-img {
    display:flex;
    justify-content: center;
    width:60%;
}

.interview-img img {
    width: 100%;
}

.interview-txt {
    width: 30%;
}

.interview-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 3%;
}

.surveys {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 0 auto;
    margin-top: 5%;
    justify-content: space-between;
}

.graphs {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
}

.graphs img {
    width:80%;
}

.survey-txt {
    width: 30%;
}

.survey-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 3%;
}

.survey-content ul {
    margin-top: 5%;
}

.survey-content li {
    margin-bottom: 5%;
}

.user-insights {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 0 auto;
    margin-top: 5%;
    justify-content: space-between;
}

.user-insight-img {
    display: flex;
    width: 60%;
    justify-content: center;
}
.user-insights img {
    width:90%;
}

.user-insight-txt {
    width: 30%;
}

.user-insight-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 3%;
}

.user-persona {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 0 auto;
    margin-top: 6%;
    justify-content: space-between;
}

.user-persona-img {
    display: flex;
    width: 60%;
    justify-content: center;
}
.user-persona img {
    width:90%;
}

.user-persona-txt {
    width: 30%;
}

.user-persona-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 3%;
}

.journey-map {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 0 auto;
    margin-top: 6%;
    justify-content: space-between;
}

.journey-map-img {
    display: flex;
    width: 60%;
    justify-content: center;
}

.journey-map img {
    width:100%;
}

.journey-map-txt {
    width: 30%;
}

.journey-map-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 3%;
}

.problem-statement {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 0 auto;
    margin-top: 6%;
    justify-content: space-between;
}

.problem-statement-img {
    display: flex;
    width:60%;
    justify-content: center;
}

.problem-statement img {
    width:90%;
}

.problem-statement-txt {
    width: 30%;
}

.problem-statement-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 3%;
}

.competitor-analysis {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 0 auto;
    margin-top: 6%;
    justify-content: space-between;
}

.competitor-analysis-img {
    display: flex;
    width: 60%;
    justify-content: center;
}

.competitor-analysis img {
    width:100%;
}

.competitor-analysis-txt {
    width: 30%;
}

.competitor-analysis-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 3%;
}

.user-flows {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 0 auto;
    margin-top: 5%;
    justify-content: space-between;
}

.flows {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
}

.flows img {
    width:90%;
    margin-bottom: 3%;
}

.user-flow-txt {
    width: 30%;
}

.user-flow-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 3%;
}

.prototype {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 0 auto;
    margin-top: 5%;
    justify-content: space-between;
}

.prototype-img {
    display: flex;
    width: 60%;
    justify-content: center;
}

.prototype img {
    width:80%;
}

.prototype-txt {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.prototype-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 3%;
}

.prototype-content {
    display: flex;
    flex-direction: column;
}

.prototype-button {
    display: inline-block;
    text-align: center;
    padding: 5px 5px;
    border: solid 1px #014003;
    border-radius: 20px;
    text-decoration: none;
    color: #014003;
    font-size: 20px;
    margin-top: 10%;
}

.prototype-button:hover {
    background-color: #014003;
    color: white;
}

.usability-testing {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 0 auto;
    margin-top: 5%;
    justify-content: space-between;
}

.usability-testing-img {
    display: flex;
    width: 60%;
    justify-content: center;
}

.usability-testing-img img {
    width:90%;
}

.usability-testing-txt {
    width: 30%;
}

.usability-testing-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 3%;
}

.usability-testing-content ul {
    margin-top: 3%;
}

.landing-page {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 0 auto;
    margin-top: 5%;
    justify-content: space-between;
}

.landing-page-img {
    display: flex;
    width: 60%;
    justify-content: center;
}

.landing-page img {
    width:100%;
}

.landing-page-txt {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.landing-page-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 3%;
}

.landing-page-content {
    display: flex;
    flex-direction: column;
}

.landing-page-button {
    display: inline-block;
    padding: 5px 5px;
    text-align: center;
    border: solid 1px #014003;
    border-radius: 20px;
    text-decoration: none;
    color: #014003;
    font-size: 20px;
    margin-top: 10%;
}

.landing-page-button:hover {
    background-color: #014003;
    color: white;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 3%;
}

.icons {
    display: flex;
    flex-direction: row;
}

.icons img {
    box-sizing: unset;
    padding: 10px;
    margin-top: 10px;
}

@media only screen and (max-width: 600px) {

    nav {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-top:3%;
        margin-left: 5%;
        margin-right:5%;
    }
    
    
    .title {
        font-size: 16px;
        font-weight: 500;
    }
    
    .menu {
        display: flex;
        flex-direction: row;
    }
    
    .menu img {
        height: 20px;
    }
    
    .nav-item {
        display: flex;
        margin-right: 20px;
        font-size: 14px;
    }
    
    nav a:hover {
        font-weight: 600;
    }
    
    nav a {
        text-decoration: none;
        color: black;
    }
    
    .tagline {
        display:flex;
        margin-left: 5%;
        font-size: 14px;
        margin-top: 8px;
        color: #949494
    }
    
    .horizontal-line {
        height: 1px;
        background-color: #525252; 
        margin-left: 5%;
        margin-right: 5%;
    }

    .nurture-intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 400px;
    }
    
    #line1 {
        font-size: 30px;
        font-weight: bold;
        padding: 5px;
        color:#014003;
    }
    
    #line2 {
        font-size: 18px;
        font-weight:200;
        padding: 5px;
    }
    
    .nurture-img {
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    

    .intro-button {
        margin-top: 2%;
        border-radius: 30px;
        color: #014003;
        border: solid 2px #014003;
        font-size: 18px;
        padding: 5px 10px;
        background-color: white;
    }
    
    .intro-button:hover {
        background-color: #014003;
        color: white;
    }
    
    .summary {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        background-color: #FFFBF0;
        color:#403A50;
        width: 90%;
        margin: 0 auto;
        border: solid 2px #403A50;
        border-radius: 30px;
        height: 280px;
    }
    
    .row1  {
        display: flex;
        flex-direction: row;
        width: 90%;
        justify-content: center;
        align-items: center;
    }
    
    .problem-title {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 2%;
        text-align: center;
    }
    
    .problem-text {
        text-align: center;
        font-size: 14px;
    }
    
    .row2 {
        display: flex;
        flex-direction: row;
        width: 90%;
        justify-content: space-between;
        align-items: flex-start;
        font-size: 12px;
    }
    
    #problem, #solution {
        margin: 3% 2%;
    }
    
    #myrole, #timeline, #ip {
        margin: 3% 2%;
    }
    
    #group-project, #my-role, #time-line {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 5%;
    }
    
    .hypothesis {
        display: flex;
        flex-direction: column;
        width:90%;
        margin: 0 auto;
        margin-top: 10%;
        font-size: 14px;
    }
    
    .hypothesis-title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 1%;
    }
    
    
    .interviews {
        display: flex;
        flex-direction: column-reverse;
        width: 90%;
        margin: 0 auto;
        margin-top: 10%;
        justify-content: space-between;
        font-size: 14px;
    }
    
    
    .interview-img {
        display:flex;
        justify-content: center;
        width:100%;
        margin-top: 10%;
    }
    
    .interview-img img {
        width: 100%;
    }
    
    .interview-txt {
        width: 100%;
    }
    
    .interview-title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 3%;
    }
    
    .surveys {
        display: flex;
        flex-direction: column-reverse;
        width: 90%;
        margin: 0 auto;
        margin-top: 10%;
        justify-content: space-between;
        font-size: 14px;
    }
    
    .graphs {
        display: flex;
        flex-direction: column;
        width: 90%;
        align-items: center;
        margin-top:5%;
    }
    
    .graphs img {
        width:100%;
    }
    
    .survey-txt {
        width: 100%;
    }
    
    .survey-title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 3%;
    }
    
    .survey-content ul {
        margin-top: 5%;
    }
    
    .survey-content li {
        margin-bottom: 5%;
    }
    
    .user-insights {
        display: flex;
        flex-direction: column-reverse;
        width: 90%;
        margin: 0 auto;
        margin-top: 10%;
        justify-content: space-between;
        font-size:14px;
    }
    
    .user-insight-img {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 10%;
    }
    .user-insights img {
        width:100%;
    }
    
    .user-insight-txt {
        width: 100%;
    }
    
    .user-insight-title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 3%;
    }
    
    .user-persona {
        display: flex;
        flex-direction: column-reverse;
        width: 90%;
        margin: 0 auto;
        margin-top: 10%;
        justify-content: space-between;
        font-size: 14px;
    }
    
    .user-persona-img {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 5%;
    }
    .user-persona img {
        width:100%;
    }
    
    .user-persona-txt {
        width: 100%;
    }
    
    .user-persona-title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 3%;
    }
    
    .journey-map {
        display: flex;
        flex-direction: column-reverse;
        width: 90%;
        margin: 0 auto;
        margin-top: 10%;
        justify-content: space-between;
        font-size: 14px;
    }
    
    .journey-map-img {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 5%;
    }
    
    .journey-map img {
        width:100%;
    }
    
    .journey-map-txt {
        width: 100%;
    }
    
    .journey-map-title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 3%;
    }
    
    .problem-statement {
        display: flex;
        flex-direction: column-reverse;
        width: 90%;
        margin: 0 auto;
        margin-top: 10%;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
    }
    
    .problem-statement-img {
        display: flex;
        width:100%;
        justify-content: center;
        margin-top:10%;
    }
    
    .problem-statement img {
        width:100%;
    }
    
    .problem-statement-txt {
        width: 100%;
    }
    
    .problem-statement-title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 3%;
    }
    
    .competitor-analysis {
        display: flex;
        flex-direction: column-reverse;
        width: 90%;
        margin: 0 auto;
        margin-top: 10%;
        justify-content: space-between;
        font-size: 14px;
    }
    
    .competitor-analysis-img {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 6%;
    }
    
    .competitor-analysis img {
        width:100%;
    }
    
    .competitor-analysis-txt {
        width: 100%;
    }
    
    .competitor-analysis-title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 3%;
    }
    
    .user-flows {
        display: flex;
        flex-direction: column-reverse;
        width: 90%;
        margin: 0 auto;
        margin-top: 10%;
        justify-content: space-between;
        font-size: 14px;
    }
    
    .flows {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin-top: 6%;
    }
    
    .flows img {
        width:100%;
        margin-bottom: 3%;
    }
    
    .user-flow-txt {
        width: 100%;
    }
    
    .user-flow-title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 3%;
    }
    
    .prototype {
        display: flex;
        flex-direction: column-reverse;
        width: 90%;
        margin: 0 auto;
        margin-top: 10%;
        justify-content: space-between;
        font-size: 14px;
    }
    
    .prototype-img {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 6%;
    }
    
    .prototype img {
        width:100%;
    }
    
    .prototype-txt {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .prototype-title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 3%;
    }
    
    .prototype-content {
        display: flex;
        flex-direction: column;
    }
    
    .prototype-button {
        display: inline-block;
        text-align: center;
        padding: 5px 5px;
        border: solid 1px #014003;
        border-radius: 20px;
        text-decoration: none;
        color: #014003;
        font-size: 20px;
        margin-top: 10%;
    }
    
    .prototype-button:hover {
        background-color: #014003;
        color: white;
    }
    
    .usability-testing {
        display: flex;
        flex-direction: column-reverse;
        width: 90%;
        margin: 0 auto;
        margin-top: 10%;
        justify-content: space-between;
        font-size: 14px;
    }
    
    .usability-testing-img {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 5%;
    }
    
    .usability-testing-img img {
        width:100%;
    }
    
    .usability-testing-txt {
        width: 100%;
    }
    
    .usability-testing-title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 3%;
    }
    
    .usability-testing-content ul {
        margin-top: 3%;
    }
    
    .landing-page {
        display: flex;
        flex-direction: column-reverse;
        width: 90%;
        margin: 0 auto;
        margin-top: 10%;
        justify-content: space-between;
        font-size: 14px;
    }
    
    .landing-page-img {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 6%;
    }
    
    .landing-page img {
        width:100%;
    }
    
    .landing-page-txt {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .landing-page-title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 3%;
    }
    
    .landing-page-content {
        display: flex;
        flex-direction: column;
    }
    
    .landing-page-button {
        display: inline-block;
        padding: 5px 5px;
        text-align: center;
        border: solid 1px #014003;
        border-radius: 20px;
        text-decoration: none;
        color: #014003;
        font-size: 20px;
        margin-top: 10%;
    }
    
    .landing-page-button:hover {
        background-color: #014003;
        color: white;
    }
    
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
        margin-bottom: 3%;
    }
    
    .icons {
        display: flex;
        flex-direction: row;
    }
    
    .icons img {
        box-sizing: unset;
        padding: 10px;
        margin-top: 10px;
    }

}